<h1>Home#gallery</h1>
<p>Find me in app/views/home/gallery.html.erb</p>


<div class="row" >
        <div class= "col-md-6"  > 
            <%= image_tag ("anora/bedroom1_ensuite.jpg") %> 
        </div>

        <div class= "col-md-6"  id="rcorners3"   >
            
            <%= image_tag ("anora/bedroom1_washbasin.jpg")%> 
        </div>
    </div>