/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .heading1{
    text-align: center;
    font-size:1.5rem;
    color:blue;
    font-weight: bold;
    margin-bottom: 40px;
 }
 .heading2{
   
    margin-left: 40px;
    background-color: bisque;
 }

 .heading3{
   
    margin-bottom: 40px;
 }

.width1{
    width: 75px;
    height:auto;
}



#rcorner1{
    border-radius: 5px;
    background: #F9D3AD;
    padding: 20px;
    width: auto;
    height: 200px;
  }

 #rcorner2{
    order-radius: 5px;
    background: #d1e2e4;
    padding: 20px;
    width: auto;
    height: 200px;
 }